<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">    
        <div class="all">
        <h1 class="headingH1">Registration Numbers</h1>
        <br>
        <!-- !first form -->
        <form action="/reg_numbers" method="post">
        <div class="message">
        </div>
        <div class="input">
            <input type="text" class="regNumberEntered" placeholder="enter a registration number" name="myReg">
            <button type="submit" class="addRegNumber btn blue">Add reg number</button>
        </div>
        <br>
        </form>
        
    </div>
        <!-- !second form -->
         <form action="/filter" method="post">
        <div class="filter">
            <h1 class="filterH1"><strong>Filter by town</strong></h1>
            <div class="theRadios">
            <div class="oneradio">
            <label for="all">All Town</label>
            <input type="radio" name="town" id="all" value="ALL">
            </div>
            <div class="oneradio">
            <label for="cy">Bellvile</label>
            <input type="radio" name="town" id="cy" value="CY">
            </div>
            <div class="oneradio">
            <label for="cl">Paarl</label>
            <input type="radio" name="town" id="cl" value="CL">
            </div>
            <div class="oneradio">
            <label for="ca">Cape Town</label>
            <input type="radio" name="town" id="ca" value="CA">
            </div>
            </div>
        </div> 
        <button type="submit" class="show">
         SHOW
        </button>
         <a href="/reset"><button type="submit" class="reset">RESET</button></a>
    </form>
   
    <div class="light">
        <div class="circle"></div>
     <div class="messagebox">
        {{#each regNumbers}}
        <div class="regNumbersDiv">
            <h2 class="display" style="padding: 1px;">{{this}}</h2>
        </div>
        {{/each}}
        <p> {{message}} </p>
     </div>   
        <div class="circle"></div>
    </div>
    
    </div>
    <script src="lights.js"></script>
</body>
</html>
